:root{
    --primaryColor: #000bff;
    --bgGrey: #b3b3b3;
    --bgWhite: #fff;
    --borderGrey: #ccc;
    --secondaryColor: #005ec2;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bgGrey);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .container{
        width: 40%;
        max-height: 80%;
        background-color: #fff;
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        /* header{
            h1{
                padding: 16px 0;
            }
        } */
    
        #taskForm{
            display: flex;
            gap: 10px;
            input{
                flex: 1;
                border: 1px var(--borderGrey) solid;
                
            }
    
            button{
                color: var(--bgWhite);
                padding: 8px 16px;
                border: none;
                background-color: var(--primaryColor);
                cursor: pointer;
            }
            button:hover{
                background-color: var(--secondaryColor);
            }
        }
    
        .taskList{
            list-style: none;
            max-height: 50vh;
            overflow-y: auto;
            
            .taskItem{
                margin-top: 16px;
                padding: 16px;
                display: flex;
                border: 1px var(--borderGrey) solid;
                
                input{
                    width: 5%;

                    &:checked{
                        +span{
                            color:var(--bgGrey);
                            text-decoration: line-through;
                        }
                    }
                }
                span{
                    flex: 1;
                    padding: 8px;
                }
                button{
                    width: 10%;
                    background-color: var(--bgWhite);
                    border: none;
                    cursor: pointer;
                }
                button:hover{
                    background-color: var(--secondaryColor);
                }
    
            }
        }
    
        .taskFooter{
            padding: 16px;
            /* margin-top: 16px; */
            background-color: var(--borderGrey);
            display: flex;
            justify-content: space-between;
    
            button{
                color: var(--bgWhite);
                padding: 8px 16px;
                border: none;
                background-color: var(--primaryColor);
                cursor: pointer;
            }
            button:hover{
                background-color: var(--secondaryColor);
            }
    
            .progressContainer{
                width: 50%;
                position: relative;
                background-color: var(--bgGrey);
                border-radius: 25px;
            }
    
            .progressBar{
                background-color: green;
                width: 0;
                height: 100%;
                border-radius: 25px;
            }

            .progressText{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    
    }
}